body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0);
  background: radial-gradient(#0f0f0f, #9198e5);
  text-align: center;
  margin-top: 50px;
}

#header {
  margin: 5px;
  font-size: 20px;
  align-items: center;
}

h2 {
  color: #fff;
}

#todo-container {
  background-color: rgb(41, 33, 33);
  width: 500px;
  margin: 0 auto;
  border: 2px solid #2e60ea;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
}

#input-box {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
}

#input-button:hover {
  background-color: #9eb7fd;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

li {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.buttons-container {
  display: flex;
  gap: 16px;
}

.buttons {
  width: 100%;
  height: 100%;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
}

.delete-btn {
  background-color: #26096986;
}

.edit-btn:hover {
  background-color: #9eb7fd;
}

.delete-btn:hover {
  background-color: #9eb7fd;
}

.tasks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  #todo-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  #todo-form {
    width: 100%;
  }

  #todo-form input {
    margin: 0;
  }
}