@mixin card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
    .detail {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: none;
        color: #fff;
        background-color: red;
        padding: 10px;
        z-index: 1;
        border-radius: 10px;
        border: 1px solid #fff;
    }
  }